* {
    margin: 0;
}

.container {
    margin: 10px;
    border: 1px solid green;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

.item {
    margin: 10px;
    width: 75px;
    height: 75px;
}

.item1 {
    flex-shrink: 0;
    background-color: aquamarine;
}

.item2 {
    flex-grow: 2;
    flex-basis: 0;
    background-color: blueviolet;
}

.item3 {
    flex-grow: 1;

    background-color: violet;
}