* {
    margin: 0;
    font-size: 60px;
}

.div1 {
    background-color: blue;
}

.div2 {
    background-color: blueviolet;
}

.span1 {
    background-color: goldenrod;
}

.span2 {
    background-color: firebrick;
}

.button {
    background-color: khaki;
}